/* base font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/* base color: #54a0ff */

/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* main background setup */
body {
  background: #54a0ff;
  /* background: linear-gradient(45deg, #2479b3, #94c4ff); */
  height: 100vh;
}

 /* ***** reusable components ****** */
/* login form background  */
.login_container {
  background: #fff;
}
.container {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px;
  padding-bottom: 0;
}
.container h1,
.container h3 {
  font-size: 35px;
  color: #404040;
  padding: 10px 0;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 20px;
}
.container h4,
.container h2 {
  font-size: 20px;
  font-weight: 400;
  color: #404040;
}
.input_container {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.input_container .input_field {
  height: 100%;
  width: 100%;
  border: none;
  padding-top: 10px;
  border-bottom: 1px solid #c0c0c0;
  font-size: 16px;
  outline: none;

  background: transparent;
}
.input_container .input_field:invalid {
  box-shadow: none;
}
.input_container label {
  display: block;
  height: 100%;
  width: 100%;
  cursor:text;
}
.input_container label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  height: 95%;
  width: 100%;
  border-bottom: 2px solid #54a0ff;
  transition: all 0.3s ease-in-out;
}
.input_container label span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  pointer-events: none;
  color: #909090;
  transition: all 0.3s ease-in-out;
}
.input_container .input_field:focus + label span,
.input_container .input_field:valid + label span {
  padding-top: 0px;
  color: #54a0ff;
  font-size: 14px;
}
.input_container .input_field:focus + label::after,
.input_container .input_field:valid + label::after {
  position: absolute;
  left: 0;
}
 /* ***** reusable components end****** */



/* main container height and width */
.main_container {
  position: relative;
  top: 0;
  left: 0;
  max-width: 500px;
  min-height: 500px;
  margin: 60px auto;
  overflow: hidden;
}

.checkbox_container {
  margin: 15px 0;
}
.checkbox_container label {
  margin-left: 10px;
  color: #404040;
}
.checkbox_container label,
#stayLoggedin {
  cursor: pointer;
}
.btn {
  border: 1px solid #0f5ab6;
  color: #404040;
  background: #fff;
  padding: 8px 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 3px;
}
.btn:hover {
  background: #0f5ab6;
  color: #fff;
}
a, .a {
  color: #54a0ff;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
}
.signup_label {
  display: block;
  margin-top: 15px;
  margin-left: 0;
}
.author_container {
  margin-top: 40px;
  padding: 10px 0;
  font-size: 14px;
  color: #606060;
  border-top: 1px solid #c0c0c0;
}
.author_container b {
  font-weight: 600;
}
.author_container a {
  float: right;
}
.registration_container {
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  background: #2980b9;
  /* background: #eb4d4b; */
  transition: all 0.3s ease-in-out;
  /* border: 1px solid #fff; */
}
.reg_block_container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.reg_block_flex {
  width: 400%;
  display: flex;
  position: relative;
  top: 0;
  left: 0%;
  transition: all 0.3s ease-in-out;
}
.reg_block {
  width: 100%;
}
.reg_block {
  margin: 30px 0;
}
.block_info {
  font-size: 25px;
  padding-bottom: 10px;
  color: #eee;
  /* border-bottom: 1px solid #ccc; */
}
.registration_container .input_field{
  color: #fff;
}
.registration_container .input_container .input_field:focus + label span,
.registration_container .input_container .input_field:valid + label span {
  color: #fff;
}
.registration_container .input_container label span {
  color: #d0d0d0;
}

.registration_container .input_container label::after {
  border-bottom: 2px solid #eee;
}
.registration_container h3,
.registration_container h4 {
  color: #eee;
}
.steps {
  color: #eee;
  display: block;
}
.registration_container .btn {
  display: inline-block;
  margin-top: 20px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.registration_container .btn:hover {
  color: #404040;
  background: #fff;
}
.registration_container .a {
  color: #fff;
}
.registration_container .tos {
  width: 100%;
  height: 100px;
}
.tos_block .checkbox_container {
  margin: 5px 0;
}
.tos_block .checkbox_container  label {
  color: #fff;
}
.tos_block .btn {
  margin-top: 0px;
}



.recovery_container .btn {
  margin-top: 20px;
}
.recovery_container {
  height: 100%;
  width: 100%;
  background: #2ecc71;
  position: absolute;
  top: 0;
  left: -100%;
  transition: all 0.3s ease-in-out;
}
.recovery_container .input_container .input_field {
  border-bottom-color: #404040;
}
.recovery_container .input_container label span{
  color: #606060;
}
.recovery_container .a {
  display: block;
  color: #404040;
  margin: 0;
  margin-top: 10px;
}
.recovery_container .btn {
  background: #2ecc71;
  color: #404040;
  border-color: #404040;
  transition: all 0.3s ease-in-out;
}
.recovery_container .btn:hover {
  background:#404040;
  color: #fff;
}
.recovery_container .input_container .input_field:focus + label span,
.recovery_container .input_container .input_field:valid + label span {
  color: #404040;
}

/* trigger checkbox disappear */
.hidecheck {
  display: none;
}

/* trigger by click */
#regId:checked ~ .main_container .registration_container {
  right: 0;
}
#forgotpass:checked ~ .main_container .recovery_container {
  left: 0;
}
.recovery_container h3 {
  border-bottom: 1px solid #404040;
}